[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pathdiagram"]
	path = pathdiagram
	url = https://github.com/cran/pathdiagram
[submodule "plspm"]
	path = plspm
	url = https://github.com/gastonstat/plspm
[submodule "tester"]
	path = tester
	url = https://github.com/gastonstat/tester
[submodule "turner"]
	path = turner
	url = https://github.com/gastonstat/turner
